.profile {
    width: 500px;
    margin: 20px auto;
    color: #070c11;
    text-align: center;
}

.profile__name {
    font-size: 32px;
}

.profile__birth {
    font-size: 26px;
}

.profile__addresses {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.profile__address {
    background-color: #EDF2F6;
    padding: 15px;
    text-align: left;
}

.profile__address__item {
    margin-top: 15px;
}

.profile__address__item span:first-child {
    font-weight: 700;
}

.profile__address__type:not(:empty) {
    background-color: #48A69B;
    color: #EDF2F6;
    border-radius: 4px;
    padding: 5px;
}

