@media (max-width: 1370px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1120px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 930px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 510px) {
    .header__logo {
        width: 20vw;
        height: 5vh;
        margin-right: 0;
    }

    .login,
    .registration {
        width: 90%;
    }

    .registration__addresses {
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .footer__author {
        text-align: center;
    }

    .login__pass-button {
        left: 48%;
    }

    .header__top-bar .container {
        gap: 5px;
    }
}

@media (max-width: 460px) {
    .login__pass-button {
        left: 50%;
    }
}
